.card-cadastro {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin-top: 15px;
}
